{% extends 'mysite/../../../mysite/templates/base.html' %}
{% load static %}

{% block title %}
    <title>Password Changed Successfully</title>
{% endblock %}
{% block content %}
    <section class="ftco-section contact-section ftco-no-pb" id="contact-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <h2 class="mb-4">Password Changed Successfully</h2>

                </div>
            </div>
          </div>
    </section>

{% endblock %}