{% extends 'mysite/base.html' %}
{% load static from staticfiles %}

{% block title %}
    <title>Know about me</title>
{% endblock %}

{% block content %}

<section class="ftco-about img ftco-section ftco-no-pb" id="about-section">
    <div class="container">
    	<div class="row d-flex">
    		<div class="col-md-6 col-lg-5 d-flex">
    			<div class="img-about img d-flex align-items-stretch">
    				<div class="overlay"></div>
	   				<div class="img d-flex align-self-stretch align-items-center" style="background-image:url({% static 'mysite/images/saveen-bg-3.png' %});">
				</div>
    		</div>
    	</div>
    	<div class="col-md-6 col-lg-7 pl-lg-5 pb-5">
    		<div class="row justify-content-start pb-3">
                <div class="col-md-12 heading-section ftco-animate">
		          	<h1 class="big">My story</h1>
		            <h2 class="mb-4"> My story </h2>
		            <p align="justify">
                        <br> As a person, i'm an outspoken ambivert. I've always been not afraid to face adversaries but
                        i figured keeping my own peace is more important than being right. I feel our purpose in life is
                        to pursue opportunities to make mistakes and gather experiences, try and fail, learn and grow then
                        attempt and succeed, on repeat.<br>
                        <br>As a stubborn person since forever, i've learned that being quick to admit our mistakes saves us a
                        lot of trouble.<br>
                        <br>Very fond of reading books that i don't have to take test after.<br>

                        <br> Besides these, here are my personal details. <br>

                    </p>
		            <ul class="about-info mt-4 px-md-0 px-2">
		            	<li class="d-flex"><span>Name:</span> <span>Saveen Shrestha</span></li>
		            	<li class="d-flex"><span>Date of birth:</span> <span>June 04, 1995</span></li>
		            	<li class="d-flex"><span>Address:</span> <span>Basundhara Tokha- 10 Kathmandu Nepal </span></li>
		            	<li class="d-flex"><span>Zip code:</span> <span>44608</span></li>
		            	<li class="d-flex"><span>Email:</span> <span>Biz.saveen@gmail.com</span></li>
		            	<li class="d-flex"><span>Phone: </span> <span>+977-9840006405</span></li>
		            </ul>
		          </div>
		        </div>
	          <div class="counter-wrap ftco-animate d-flex mt-md-3">
              <div class="text">
              	<p class="mb-4">
	                <span class="number" data-number="10">0</span>
	                <span>Project complete</span>
                </p>
                <p><a href="#" class="btn btn-primary py-3 px-3">Download CV</a></p>
              </div>
	          </div>
	        </div>
        </div>
    </div>
</section>

{% endblock %}